
<header style="display:flex; flex-direction: row;">
  Header
  <!-- <button (click)="onStart()">Start</button> -->
  <!-- <button (click)="onStop()">Stop</button> -->
  <button (click)="onClear()">Clear</button>
  <!-- <button (click)="onRequest()">Request</button> -->
  <button (click)="onSave()">Save</button>
  <button (click)="onLoad()">Load</button>
  <button (click)="onZoom()">Zoom</button>
  <div style="flex-grow: 1"></div>
  <app-tabs>
    <app-tab title="Tab 1" topic="set:tab:1"></app-tab>
    <app-tab title="Tab 2" topic="set:tab:2"></app-tab>
  </app-tabs>

</header>

<main>
  <router-outlet></router-outlet>
</main>

<aside>
</aside>

<footer>
  state: {{ force.state$ | async | json }}
</footer>
